.btn {
  display: inline-block;
  color: #fff;
  font-weight: 500;
  padding: rem(12px) rem(20px);
  border: 1px solid $accent;
  border-right-width: rem(20px);
  position: relative;

  &:hover {
    background-color: $accent;
    transition: all .5s;
  }

  &.text-black {
    color: #373636;

    &:hover {
      background-color: $accent;
      color: #fff;
      transition: all .5s;
    }
  }

  &.margin-top-47 {
    margin-top: rem(47px);
  }

  &-icon {
    width: rem(6px);
    height: rem(18px);
    fill: #fff;
    position: absolute;
    right: -12px;
  }
}

