.hero {
  position: relative;
}

.hero-slider__item {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  padding: rem(130px) 0 rem(180px);

  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
  }
}

.hero-slider__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;

  @include tablet {
    padding: 0 rem(15px);
  }
}

.hero-slider__title {
  font-weight: 500;
  color: #fff;
  font-size: rem(30px);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    font-size: rem(24px);
  }

}

.hero-slider__text {
  max-width: rem(650px);
  font-family: 'ptserif', Georgia, serif;
  text-align: center;
  color: #d3d2d2;
  font-size: rem(18px);
  line-height: 1.33;
  margin-top: rem(24px);

  @include tablet {
    font-size: rem(16px);
  }

}

.hero-slider__control {
  display: inline-block;
  width: rem(40px);
  height: rem(40px);
  border: 1px solid #fff;
  position: absolute;
  transition: all .5s;
  z-index: 1;

  &:hover {
    background-color: $accent;
    border-color: $accent;

    .hero-slider__control-icon {
      fill: #fff;
    }
  }

  &--left {

    top: 50%;
    transform: translateY(-50%);
    left: 20%;
    
    @include desktop {
      left: rem(150px);
    }

    @media (max-width: 1120px){
      left: 5%;
    }

    @include large {
      left: 15px;
    }

    @include tablet {
      display: none;
    }
  }

  &--right {
    top: 50%;
    transform: translateY(-50%);
    right: 20%;

    @include desktop {
      right: rem(150px);
    }

    @media (max-width: 1120px){
      right: 5%;
    }

    @include large {
      right: 15px;
    }

    @include tablet {
      display: none;
    }
  }
}

.hero-slider__control-icon {
  fill: #fff;
  width: rem(6px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}