@mixin desktop {
    @media screen and (max-width: $desktop) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

@mixin large {
  @media screen and (max-width: $large) {
    @content;
  }
}

@mixin tablet {
    @media screen and (max-width: $tablet) {
        @content;
    }
}

@mixin smalltablet {
  @media screen and (max-width: $smalltablet) {
      @content;
  }
}

@mixin small {
  @media screen and (max-width: $small) {
      @content;
  }
}

@mixin smartphone {
    @media screen and (max-width: $smartphone) {
        @content;
    }
}

@mixin sp420 {
  @media screen and (max-width: $sp420) {
      @content;
  }
}

@mixin sp360 {
  @media screen and (max-width: $sp360) {
      @content;
  }
}

@mixin smallphone {
  @media screen and (max-width: $smallphone) {
      @content;
  }
}

// border gradient 

@mixin border-gradient($from, $to, $weight: 0) {
  $mix-main: mix($from, $to);
  $mix-sub-from: mix($mix-main, $from);
  $mix-sub-to: mix($mix-main, $to);
  
  box-shadow: 0 1px 0 $weight rgba($mix-sub-to, .25),
              0 -1px 0 $weight rgba($mix-sub-from, .25),
              1px 0 0 $weight rgba($mix-sub-to, .25),
              -1px 0 0 $weight  rgba($mix-sub-from, .25),
              1px -1px 0 $weight rgba($mix-main, .5),
              -1px 1px 0 $weight rgba($mix-main, .5),
              1px 1px 0 $weight rgba($to, .75),
              -1px -1px 0 $weight rgba($from, .75);
}

