//resolutions

$desktop: 1280px;
$laptop: 1024px;
$large: 992px; 
$tablet: 768px; 
$smalltablet: 600px;
$small: 576px;
$smartphone: 480px;
$sp420: 420px;
$sp360: 360px;
$smallphone: 320px;

//colors

$accent: #ffc222;
$main: #e6e6e6;
$second: #303030;
$bg: #595959;
$text: #5e5e5e;
$text_white: #d3d2d2;
$text_grey: #1b1b1b;