{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "> 5%",
          "last 2 versions",
          "not ie < 11",
          "ios_saf >= 10.2"
        ]
      }
    }]
  ]
}